body {
	margin: 0;
	text-align: center;
	font-size: 18px;
	color: white
}

h1 { color:orange;
	font-family: 'El Rio Lobo';
	font-size: 40px;
	margin: 7px }

#primera { background-color: #a1243a;
		padding:40px;
		min-height: 200px; }

#segunda { background-color: #158abe;

		padding: 50px; }

#tercera { text-align: right; 
	background-image: url(assets/images/cuzco2.jpg);
	background-size: 100%;
	padding: 10px;
	min-height: 700px;}

#tercera p {
	margin: 10px;}

#cuarta {
	font-family: 'El Rio Lobo';
	background-color: white;
	color:black;
	font-size: 60px;
	margin: 1px; }

